Altium/__Previews/CtDPS_Stage.SchDocPreview
Altium/__Previews/CtDSP_IO.SchDocPreview
Altium/__Previews/Sheet1.SchDocPreview
Altium/History/ActiveBOM.~(1).BomDoc.Zip
Altium/History/ActiveBOM.~(2).BomDoc.Zip
Altium/History/ActiveBOM.~(3).BomDoc.Zip
Altium/History/ActiveBOM.~(4).BomDoc.Zip
Altium/History/ActiveBOM.~(5).BomDoc.Zip
Altium/History/ActiveBOM.~(6).BomDoc.Zip
Altium/History/ActiveBOM.~(7).BomDoc.Zip
Altium/History/ActiveBOM.~(8).BomDoc.Zip
Altium/History/ActiveBOM.~(9).BomDoc.Zip
Altium/History/Assembly.~(1).OutJob.Zip
Altium/History/Assembly.~(2).OutJob.Zip
Altium/History/Assembly.~(3).#(Deleted).OutJob.Zip
Altium/History/CAMtastic1.~(1).Cam.Zip
Altium/History/CAMtastic4.~(1).#(Deleted).Cam.Zip
Altium/History/CAMtastic5.~(1).#(Deleted).Cam.Zip
Altium/History/CAMtastic6.~(1).#(Deleted).Cam.Zip
Altium/History/CtDPS_Stage.~(1).SchDoc.Zip
Altium/History/CtDPS_Stage.~(3).SchDoc.Zip
Altium/History/CtDPS_Stage.~(4).SchDoc.Zip
Altium/History/CtDPS_Stage.~(5).SchDoc.Zip
Altium/History/CtDPS_Stage.~(6).SchDoc.Zip
Altium/History/CtDPS_Stage.~(7).SchDoc.Zip
Altium/History/CtDPS_Stage.~(8).SchDoc.Zip
Altium/History/CtDPS_Stage.~(9).SchDoc.Zip
Altium/History/CtDPS_Stage.~(25).SchDoc.Zip
Altium/History/CtDPS_Stage.~(26).SchDoc.Zip
Altium/History/CtDPS_Stage.~(27).SchDoc.Zip
Altium/History/CtDPS_Stage.~(28).SchDoc.Zip
Altium/History/CtDPS_Stage.~(29).SchDoc.Zip
Altium/History/CtDPS_Stage.~(30).SchDoc.Zip
Altium/History/CtDPS_Stage.~(31).SchDoc.Zip
Altium/History/CtDPS_Stage.~(32).SchDoc.Zip
Altium/History/CtDPS_Stage.~(33).SchDoc.Zip
Altium/History/CtDPS_Stage.~(34).SchDoc.Zip
Altium/History/CtDPS_Stage.~(35).SchDoc.Zip
Altium/History/CtDPS_Stage.~(36).SchDoc.Zip
Altium/History/CtDPS_Stage.~(37).SchDoc.Zip
Altium/History/CtDPS_Stage.~(38).SchDoc.Zip
Altium/History/CtDPS_Stage.~(39).SchDoc.Zip
Altium/History/CtDPS_Stage.~(40).SchDoc.Zip
Altium/History/CtDPS_Stage.~(41).SchDoc.Zip
Altium/History/CtDPS_Stage.~(42).SchDoc.Zip
Altium/History/CtDPS_Stage.~(43).SchDoc.Zip
Altium/History/CtDPS_Stage.~(44).SchDoc.Zip
Altium/History/CtDPS_Stage.~(45).SchDoc.Zip
Altium/History/CtDPS_Stage.~(46).SchDoc.Zip
Altium/History/CtDPS_Stage.~(47).SchDoc.Zip
Altium/History/CtDPS_Stage.~(48).SchDoc.Zip
Altium/History/CtDPS_Stage.~(49).SchDoc.Zip
Altium/History/CtDPS_Stage.~(50).SchDoc.Zip
Altium/History/CtDPS_Stage.~(51).SchDoc.Zip
Altium/History/CtDPS_Stage.~(52).SchDoc.Zip
Altium/History/CtDPS_Stage.~(53).SchDoc.Zip
Altium/History/CtDPS_Stage.~(54).SchDoc.Zip
Altium/History/CtDPS_Stage.~(55).SchDoc.Zip
Altium/History/CtDPS_Stage.~(56).SchDoc.Zip
Altium/History/CtDPS_Stage.~(57).SchDoc.Zip
Altium/History/CtDPS_Stage.~(58).SchDoc.Zip
Altium/History/CtDPS_Stage.~(59).SchDoc.Zip
Altium/History/CtDPS_Stage.~(60).SchDoc.Zip
Altium/History/CtDSP_IO.~(1).SchDoc.Zip
Altium/History/CtDSP_IO.~(4).SchDoc.Zip
Altium/History/CtDSP_IO.~(5).SchDoc.Zip
Altium/History/CtDSP_IO.~(6).SchDoc.Zip
Altium/History/CtDSP_IO.~(7).SchDoc.Zip
Altium/History/CtDSP_IO.~(8).SchDoc.Zip
Altium/History/CtDSP_IO.~(9).SchDoc.Zip
Altium/History/CtDSP_IO.~(39).SchDoc.Zip
Altium/History/CtDSP_IO.~(40).SchDoc.Zip
Altium/History/CtDSP_IO.~(41).SchDoc.Zip
Altium/History/CtDSP_IO.~(42).SchDoc.Zip
Altium/History/CtDSP_IO.~(43).SchDoc.Zip
Altium/History/CtDSP_IO.~(44).SchDoc.Zip
Altium/History/CtDSP_IO.~(45).SchDoc.Zip
Altium/History/CtDSP_IO.~(46).SchDoc.Zip
Altium/History/CtDSP_IO.~(47).SchDoc.Zip
Altium/History/CtDSP_IO.~(48).SchDoc.Zip
Altium/History/CtDSP_IO.~(49).SchDoc.Zip
Altium/History/CtDSP_IO.~(50).SchDoc.Zip
Altium/History/CtDSP_IO.~(51).SchDoc.Zip
Altium/History/CTDSP.~(1).PrjPcb.Zip
Altium/History/CTDSP.~(4).PrjPcb.Zip
Altium/History/CTDSP.~(5).PrjPcb.Zip
Altium/History/CTDSP.~(6).PrjPcb.Zip
Altium/History/CTDSP.~(7).PrjPcb.Zip
Altium/History/CTDSP.~(8).PrjPcb.Zip
Altium/History/CTDSP.~(9).PrjPcb.Zip
Altium/History/Documentation.~(1).#(Deleted).OutJob.Zip
Altium/History/Fabrication.~(1).OutJob.Zip
Altium/History/Fabrication.~(2).#(Deleted).OutJob.Zip
Altium/History/Job1.~(1).OutJob.Zip
Altium/History/Mercury2.~(1).PcbLib.Zip
Altium/History/Mercury2.~(1).SchLib.Zip
Altium/History/Mercury2.~(2).PcbLib.Zip
Altium/History/Mercury2.~(2).SchLib.Zip
Altium/History/Mercury2.~(3).PcbLib.Zip
Altium/History/Mercury2.~(4).PcbLib.Zip
Altium/History/Mercury2.~(5).PcbLib.Zip
Altium/History/Mercury2.~(6).PcbLib.Zip
Altium/History/PCB1.~(1).PcbDoc.Zip
Altium/History/PCB1.~(3).PcbDoc.Zip
Altium/History/PCB1.~(4).PcbDoc.Zip
Altium/History/PCB1.~(5).PcbDoc.Zip
Altium/History/PCB1.~(6).PcbDoc.Zip
Altium/History/PCB1.~(7).PcbDoc.Zip
Altium/History/PCB1.~(8).PcbDoc.Zip
Altium/History/PCB1.~(9).PcbDoc.Zip
Altium/History/PCB1.~(13).PcbDoc.Zip
Altium/History/PCB1.~(14).PcbDoc.Zip
Altium/History/PCB1.~(15).PcbDoc.Zip
Altium/History/PCB1.~(16).PcbDoc.Zip
Altium/History/PCB1.~(17).PcbDoc.Zip
Altium/History/PCB1.~(18).PcbDoc.Zip
Altium/History/PCB1.~(19).PcbDoc.Zip
Altium/History/PCB1.~(20).PcbDoc.Zip
Altium/History/PCB1.~(21).PcbDoc.Zip
Altium/History/PCB1.~(22).PcbDoc.Zip
Altium/History/PCB1.~(23).PcbDoc.Zip
Altium/History/PCB1.~(24).PcbDoc.Zip
Altium/History/PCB1.~(25).PcbDoc.Zip
Altium/History/PCB1.~(26).PcbDoc.Zip
Altium/History/PCB1.~(27).PcbDoc.Zip
Altium/History/PCB1.~(28).PcbDoc.Zip
Altium/History/PCB1.~(29).PcbDoc.Zip
Altium/History/PCB1.~(30).PcbDoc.Zip
Altium/History/PCB1.~(31).PcbDoc.Zip
Altium/History/PCB1.~(32).PcbDoc.Zip
Altium/History/PCB1.~(33).PcbDoc.Zip
Altium/History/PCB1.~(34).PcbDoc.Zip
Altium/History/PCB1.~(35).PcbDoc.Zip
Altium/History/PCB1.~(36).PcbDoc.Zip
Altium/History/PCB1.~(37).PcbDoc.Zip
Altium/History/PCB1.~(38).PcbDoc.Zip
Altium/History/PCB1.~(39).PcbDoc.Zip
Altium/History/PCB1.~(40).PcbDoc.Zip
Altium/History/PCB1.~(41).PcbDoc.Zip
Altium/History/PCB1.~(42).PcbDoc.Zip
Altium/History/PCB1.~(43).PcbDoc.Zip
Altium/History/PCB1.~(44).PcbDoc.Zip
Altium/History/PCB1.~(45).PcbDoc.Zip
Altium/History/PCB1.~(46).PcbDoc.Zip
Altium/History/PCB1.~(47).PcbDoc.Zip
Altium/History/PCB1.~(48).PcbDoc.Zip
Altium/History/PCB1.~(49).PcbDoc.Zip
Altium/History/PCB1.~(50).PcbDoc.Zip
Altium/History/PCB1.~(51).PcbDoc.Zip
Altium/History/PCB1.~(52).PcbDoc.Zip
Altium/History/PCB1.~(53).PcbDoc.Zip
Altium/History/PCB1.~(54).PcbDoc.Zip
Altium/History/PCB1.~(55).PcbDoc.Zip
Altium/History/PCB1.~(56).PcbDoc.Zip
Altium/History/PCB1.~(57).PcbDoc.Zip
Altium/History/PCB1.~(58).PcbDoc.Zip
Altium/History/PCB1.~(59).PcbDoc.Zip
Altium/History/PCB1.~(60).PcbDoc.Zip
Altium/History/PCB1.~(61).PcbDoc.Zip
Altium/History/PCB1.~(62).PcbDoc.Zip
Altium/History/PCB1.~(63).PcbDoc.Zip
Altium/History/PCB1.~(64).PcbDoc.Zip
Altium/History/PCB1.~(65).PcbDoc.Zip
Altium/History/PCB1.~(66).PcbDoc.Zip
Altium/History/PCB1.~(67).PcbDoc.Zip
Altium/History/PCB1.~(68).PcbDoc.Zip
Altium/History/PCB1.~(69).PcbDoc.Zip
Altium/History/PCB1.~(70).PcbDoc.Zip
Altium/History/PCB1.~(71).PcbDoc.Zip
Altium/History/PCB1.~(72).PcbDoc.Zip
Altium/History/PCB1.~(73).PcbDoc.Zip
Altium/History/PCB1.~(74).PcbDoc.Zip
Altium/History/PCB1.~(75).PcbDoc.Zip
Altium/History/PCB1.~(76).PcbDoc.Zip
Altium/History/PCB1.~(77).PcbDoc.Zip
Altium/History/PCB1.~(78).PcbDoc.Zip
Altium/History/PCB1.~(79).PcbDoc.Zip
Altium/History/PCB1.~(80).PcbDoc.Zip
Altium/History/PCB1.~(81).PcbDoc.Zip
Altium/History/PCB1.~(82).PcbDoc.Zip
Altium/History/PCB1.~(83).PcbDoc.Zip
Altium/History/PCB1.~(84).PcbDoc.Zip
Altium/History/PCB1.~(85).PcbDoc.Zip
Altium/History/PCB1.~(86).PcbDoc.Zip
Altium/History/PCB1.~(87).PcbDoc.Zip
Altium/History/PCB1.~(88).PcbDoc.Zip
Altium/History/PCB1.~(89).PcbDoc.Zip
Altium/History/PCB1.~(90).PcbDoc.Zip
Altium/History/PCB1.~(91).PcbDoc.Zip
Altium/History/PCB1.~(92).PcbDoc.Zip
Altium/History/PCB1.~(93).PcbDoc.Zip
Altium/History/PCB1.~(94).PcbDoc.Zip
Altium/History/PCB1.~(95).PcbDoc.Zip
Altium/History/PCB1.~(96).PcbDoc.Zip
Altium/History/PCB1.~(97).PcbDoc.Zip
Altium/History/PCB1.~(98).PcbDoc.Zip
Altium/History/PCB1.~(99).PcbDoc.Zip
Altium/History/PCB1.~(123).PcbDoc.Zip
Altium/History/PCB1.~(124).PcbDoc.Zip
Altium/History/PCB1.~(125).PcbDoc.Zip
Altium/History/PCB1.~(126).PcbDoc.Zip
Altium/History/PCB1.~(127).PcbDoc.Zip
Altium/History/PCB1.~(128).PcbDoc.Zip
Altium/History/PCB1.~(129).PcbDoc.Zip
Altium/History/PCB1.~(130).PcbDoc.Zip
Altium/History/PCB1.~(131).PcbDoc.Zip
Altium/History/PCB1.~(132).PcbDoc.Zip
Altium/History/PCB1.~(133).PcbDoc.Zip
Altium/History/PCB1.~(134).PcbDoc.Zip
Altium/History/PCB1.~(135).PcbDoc.Zip
Altium/History/PCB1.~(136).PcbDoc.Zip
Altium/History/PCB1.~(137).PcbDoc.Zip
Altium/History/PCB1.~(138).PcbDoc.Zip
Altium/History/PCB1.~(139).PcbDoc.Zip
Altium/History/PCB1.~(140).PcbDoc.Zip
Altium/History/PCB1.~(141).PcbDoc.Zip
Altium/History/PCB1.~(142).PcbDoc.Zip
Altium/History/PCB1.~(143).PcbDoc.Zip
Altium/History/PCB1.~(144).PcbDoc.Zip
Altium/History/PCB1.~(145).PcbDoc.Zip
Altium/History/PCB1.~(146).PcbDoc.Zip
Altium/History/PCB1.~(147).PcbDoc.Zip
Altium/History/PCB1.~(148).PcbDoc.Zip
Altium/History/PCB1.~(149).PcbDoc.Zip
Altium/History/PCB1.~(150).PcbDoc.Zip
Altium/History/PCB1.~(151).PcbDoc.Zip
Altium/History/PCB1.~(152).PcbDoc.Zip
Altium/History/PCB1.~(153).PcbDoc.Zip
Altium/History/PCB1.~(154).PcbDoc.Zip
Altium/History/PCB1.~(155).PcbDoc.Zip
Altium/History/PCB1.~(156).PcbDoc.Zip
Altium/History/PCB1.~(157).PcbDoc.Zip
Altium/History/PCB1.~(158).PcbDoc.Zip
Altium/History/PCB1.~(159).PcbDoc.Zip
Altium/History/PCB1.~(160).PcbDoc.Zip
Altium/History/PCB1.~(161).PcbDoc.Zip
Altium/History/PcbLib1.~(1).PcbLib.Zip
Altium/History/PcbLib1.~(2).PcbLib.Zip
Altium/History/PcbLib1.~(3).PcbLib.Zip
Altium/History/Sheet1.~(1).SchDoc.Zip
Altium/History/Sheet1.~(2).SchDoc.Zip
Altium/History/Sheet1.~(3).SchDoc.Zip
Altium/History/Sheet1.~(4).SchDoc.Zip
Altium/History/Sheet1.~(5).SchDoc.Zip
Altium/History/Sheet1.~(6).SchDoc.Zip
Altium/History/Sheet1.~(7).#(Deleted).SchDoc.Zip
Altium/History/000000004D1FE859/Mercury2.~(1).SchLib.Zip
Altium/History/000000004D1FE859/Mercury2.~(2).SchLib.Zip
Altium/History/000000004D1FE859/Mercury2.~(3).SchLib.Zip
Altium/History/000000004D1FE859/Mercury2.~(4).#(Deleted).SchLib.Zip
Altium/History/000000004D1FE859/Schlib1.~(1).SchLib.Zip
Altium/History/000000004D1FE859/Schlib1.~(2).SchLib.Zip
Altium/History/000000004D1FE859/Schlib1.~(3).SchLib.Zip
Altium/History/000000004D1FE859/Schlib1.~(4).SchLib.Zip
Altium/History/000000007FE1CDB1/OPA2172IDGK.~(1).PcbLib.Zip
Altium/History/000000007FE1CDB1/OPA2172IDGK.~(2).PcbLib.Zip
Altium/History/000000007FE1CDB1/OPA2172IDGK.~(3).PcbLib.Zip
Altium/History/FFFFFFFFB7D3CA97/TS5A3159QDBVRQ1.~(1).SchLib.Zip
Altium/History/FFFFFFFFB7D3CA97/TS5A3159QDBVRQ1.~(2).SchLib.Zip
Altium/History/FFFFFFFFD46C11AD/TLV2372IDGK.~(1).PcbLib.Zip
Altium/History/FFFFFFFFD46C11AD/TLV2372IDGK.~(1).SchLib.Zip
Altium/History/FFFFFFFFD46C11AD/TLV2372IDGK.~(2).PcbLib.Zip
Altium/History/FFFFFFFFD46C11AD/TLV2372IDGK.~(3).PcbLib.Zip
Altium/History/FFFFFFFFD46C11AD/TLV2372IDGK.~(4).PcbLib.Zip
Altium/History/FFFFFFFFD46C11AD/TLV2372IDGK.~(5).PcbLib.Zip
Altium/History/FFFFFFFFD46C11AD/TLV2372IDGK.~(6).PcbLib.Zip
Altium/History/FFFFFFFFD46C11AD/TLV2372IDGK.~(7).PcbLib.Zip
Altium/History/Project Outputs/Design Rule Check - PCB1.~(1).#(Deleted).html.Zip
Altium/History/Project Outputs/PCB1_Board.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Bottom_Assembly.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Bottom_Designator.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Copper_Signal_1.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Copper_Signal_2.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Copper_Signal_Bot.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Copper_Signal_Top.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Dimensions.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Drawing_1.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Drillmap_1.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Keep-out.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Legend_Bot.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Legend_Top.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Pads_Bot.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Pads_Top.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Paste_Bot.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Paste_Top.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Profile.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_PTH_Drill.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Soldermask_Bot.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Soldermask_Top.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Top_Assembly.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1_Top_Courtyard.~(1).#(Deleted).gbr.Zip
Altium/History/Project Outputs/PCB1.~(1).#(Deleted).DRL.Zip
Altium/History/Project Outputs/PCB1.~(1).#(Deleted).DRR.Zip
Altium/History/Project Outputs/PCB1.~(1).#(Deleted).EXTREP.Zip
Altium/History/Project Outputs/PCB1.~(1).#(Deleted).LDP.Zip
Altium/History/Project Outputs/PCB1.~(1).#(Deleted).REP.Zip
Altium/History/Project Outputs/PCB1.~(1).#(Deleted).TXT.Zip
Altium/History/Project Outputs/Assembly/Pick Place/_PCB PN_.~(1).#(Deleted).csv.Zip
Altium/History/Project Outputs/Assembly/Pick Place/_PCB PN_.~(1).#(Deleted).txt.Zip
Altium/History/Project Outputs/Assembly/Test Points/_PCB PN_.~(1).#(Deleted).ipc.Zip
Altium/History/Project Outputs/Assembly/Test Points/_PCB PN_.~(1).#(Deleted).txt.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).EXTREP.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).G1.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).G2.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GBL.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GBO.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GBP.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GBS.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GD1.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GPB.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GPT.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GTL.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GTO.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GTP.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).GTS.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).REP.Zip
Altium/History/Project Outputs/Fabrication/Gerber/_PCB PN_.~(1).#(Deleted).RUL.Zip
Altium/History/Project Outputs/Fabrication/NC Drill/_PCB PN_.~(1).#(Deleted).DRR.Zip
Altium/History/Project Outputs/Fabrication/NC Drill/_PCB PN_.~(1).#(Deleted).LDP.Zip
Altium/History/Project Outputs/Fabrication/NC Drill/_PCB PN_.~(1).#(Deleted).TXT.Zip
Altium/History/Project Outputs/Fabrication/ODB/_PCB PN_.~(1).#(Deleted).REP.Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/matrix/matrix.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/profile.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/stephdr.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/eda/data.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/board/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/bottom_3d_body/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/bottom_assembly/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/bottom_courtyard/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/bottom_layer/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/bottom_overlay/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/bottom_paste/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/bottom_solder/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/comp_+_bot/components.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/comp_+_bot/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/comp_+_top/components.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/comp_+_top/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/dielectric1/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/dielectric_1/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/dielectric_2/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/dimensions/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/drill_plated_bottom_layer-top_layer/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/drill_plated_bottom_layer-top_layer/tools.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/ground_plane/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/keep-out_layer/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/mechanical_17/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/power_plane/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/route_tool_path/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/top_3d_body/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/top_assembly/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/top_courtyard/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/top_layer/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/top_overlay/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/top_paste/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/layers/top_solder/features.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/ODB/odb/steps/pcb/netlists/cadnet/netlist.~(1).#(Deleted).Zip
Altium/History/Project Outputs/Fabrication/Test Points/_PCB PN_.~(1).#(Deleted).ipc.Zip
Altium/Project Outputs/CTDSP.csv
Altium/Project Outputs/Design Rule Check - PCB1.drc
Altium/Project Outputs/Design Rule Check - PCB1.html
Altium/Project Outputs/Gerber.zip
Altium/Project Outputs/Status Report.Txt
Altium/Project Outputs/Gerber/PCB1_Board.gbr
Altium/Project Outputs/Gerber/PCB1_Bottom_3D_Body.gbr
Altium/Project Outputs/Gerber/PCB1_Bottom_Assembly.gbr
Altium/Project Outputs/Gerber/PCB1_Bottom_Courtyard.gbr
Altium/Project Outputs/Gerber/PCB1_Copper_Signal_1.gbr
Altium/Project Outputs/Gerber/PCB1_Copper_Signal_2.gbr
Altium/Project Outputs/Gerber/PCB1_Copper_Signal_Bot.gbr
Altium/Project Outputs/Gerber/PCB1_Copper_Signal_Top.gbr
Altium/Project Outputs/Gerber/PCB1_Dimensions.gbr
Altium/Project Outputs/Gerber/PCB1_Drawing_1.gbr
Altium/Project Outputs/Gerber/PCB1_Drillmap_1.gbr
Altium/Project Outputs/Gerber/PCB1_Keep-out.gbr
Altium/Project Outputs/Gerber/PCB1_Legend_Bot.gbr
Altium/Project Outputs/Gerber/PCB1_Legend_Top.gbr
Altium/Project Outputs/Gerber/PCB1_Pads_Bot.gbr
Altium/Project Outputs/Gerber/PCB1_Pads_Top.gbr
Altium/Project Outputs/Gerber/PCB1_Paste_Bot.gbr
Altium/Project Outputs/Gerber/PCB1_Paste_Top.gbr
Altium/Project Outputs/Gerber/PCB1_Profile.gbr
Altium/Project Outputs/Gerber/PCB1_Route_Tool_Path.gbr
Altium/Project Outputs/Gerber/PCB1_Soldermask_Bot.gbr
Altium/Project Outputs/Gerber/PCB1_Soldermask_Top.gbr
Altium/Project Outputs/Gerber/PCB1_Top_3D_Body.gbr
Altium/Project Outputs/Gerber/PCB1_Top_Assembly.gbr
Altium/Project Outputs/Gerber/PCB1_Top_Component_Center.gbr
Altium/Project Outputs/Gerber/PCB1_Top_Courtyard.gbr
Altium/Project Outputs/Gerber/PCB1-macro.APR_LIB
Altium/Project Outputs/Gerber/PCB1.apr
Altium/Project Outputs/Gerber/PCB1.DRL
Altium/Project Outputs/Gerber/PCB1.DRR
Altium/Project Outputs/Gerber/PCB1.EXTREP
Altium/Project Outputs/Gerber/PCB1.LDP
Altium/Project Outputs/Gerber/PCB1.REP
Altium/Project Outputs/Gerber/PCB1.TXT
Altium/Project Outputs/Pick Place/Pick Place for PCB1.csv
Python/receive_ctdsp.py
Python/receive_delta.py
